.main{
  width: 15%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
}
.root{
  display: "flex";
}
.drawer{
  width: 240px;
  flex-shrink: 0;
}
.drawerPaper{
  width: 240px;
  background-color: #000000;
}
.text{
  color: "#fff";
}
a{
  color: '#fff';
  text-decoration: none;
}
.p{
  background-color: rgba(0, 0, 0, 0.3);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
