@font-face {
  font-family: "Times-new-roman";
  src: url("./fonts/times-new-roman.ttf");
}
@font-face {
  font-family: "Oxygen";
  src: url("../src/fonts/Oxygen-Regular.ttf");
}
@font-face {
  font-family: "IBM Medium";
  src: url('./fonts/IBMPlexSans-Medium.ttf');
}
@font-face {
  font-family: "IBM Regular";
  src: url("./fonts/IBMPlexSans-Regular.ttf");
}

html{
  height: 100%;
}
body {
  font-family: "IBM Regular";
  overflow: hidden;
  /* height: 100%; */
}
.font-family-roman {
  font-family: "Times-new-roman" !important;
}
.font-weight-bold {
  font-weight: bold;
}
.font-size-lg {
  font-size: 2rem !important;
}
.font-size-lgr {
  font-size: 3rem;
}
.m-1 {
  margin: 1rem;
}
.font-size-md {
  font-size: medium;
}
.mh-100 {
  min-height: 100vh;
}
.d-flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-start {
  justify-content: start;
}
.align-items-center {
  align-items: center;
}
a {
  /* width: 100%; */
  text-decoration: none;
}
.w-auto {
  width: auto;
}
.w-100 {
  width: 100%;
}
.signup-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.bg-color {
  background-color: #283747;
}
.full-page {
  width: 100%;
  height: 100vh;
}
.login-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.mw-200 {
  max-width: 200px !important;
}
input {
  border: 1px solid #000;
  border-radius: 5px;
}
.home-main {
  min-height: 100vh;
  background-color: #000000;
  height: 100vh;
  width: 100%;
}
.line-clamp {
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.note-clamp {
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-wrap: break-word;
}
.unselectable{
  user-select: none;
}

.DraftEditor-root, .DraftEditor-editorContainer, .public-DraftEditor-content{
  height: 100%;
  max-width: 100%;
}
.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #fff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.input-tag:focus {
  outline: none;
  background-color: #1a1a1a;
}

.attachment-btn:hover{
  background-color: #4d4c4c; 
}



@media (max-width: 767px) {
  .flex-column-sm {
    flex-direction: column;
  }
  .w-md-75 {
    width: 90%;
  }
  .flex-md-1 {
    flex: 1;
  }
}
